h1{
  margin: 20px;
}

h2{
  font-family: var(--font-secondary);
  font-size: 80px;
}

h3{
  font-weight: bold;
  font-size: 40px;
}

h4{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}